server:
  port: 8080

spring:
  datasource:
    url: jdbc:mysql://127.0.0.1:3307/jobproj_db?useSSL=false&serverTimezone=Asia/Seoul&characterEncoding=utf8&allowPublicKeyRetrieval=true
    username: db_user
    password: db_password
    driver-class-name: com.mysql.cj.jdbc.Driver
    hikari:
      connectionInitSql: "SET NAMES utf8mb4"
  jackson:
    serialization:
      WRITE_DATES_AS_TIMESTAMPS: false

management:
  endpoints:
    web:
      base-path: /api
      exposure:
        include: health,info
  health:
    db:
      enabled: false

jwt:
  secret-key: "Sm9iUmVjb3JkX1Byb2plY3RfU2VjcmV0X0tleV9FbmNvZGVfUGxlYXNl"
  expiration-ms: 3600000

springdoc:
  api-docs:
    enabled: true
  cache:
    disabled: true
  swagger-ui:
    path: /swagger-ui
